  <article class="input-palindromes">


    <h1>The Best Palindrome Checker in the World!</h1>

    <form name ="phrase" id="myForm" class="new-palindrome-form">
      <label for="text_input">Enter Text:</label>
      <!-- <input type="text"  placeholder="" id="text_input"> -->
      <textarea type="text" rows="1" name ="phrase" placeholder="Input your palindrome here" id="text_input"></textarea>
      <button class="button" type="submit">Submit</button>
    </form>
    
    <div class="error" id="error" hidden></div>
  </article>

  <ol id="attempts">

  </ol>




