<article class="input-palindromes">


    <h1>Login System</h1>


    <form name ="phrase" action="/login" method="POST" id="login-form" class="new-palindrome-form">
        <label for="text_input">Name:</label>
        <input type="text"  name="username" placeholder="" id="name" class="name"/>
        <label for="text_input">Password:</label>
        <input type="text"  name="password" placeholder="" id="password" class="password"/>
        <button class="button" type="submit">Submit</button>
    </form>
    
    
</article>
<div class="error" id="error">{{error}}</div>




